{% extends "base.html" %}
{% block title %}
{% endblock %}
{% block content %}

<div class="my_accaunt">
	<div class="my_accaunt_login">
		<div class="my_accaunt_login_up">
			Вход
		</div>
		<div class="my_accaunt_login_inputs">
			<div class="my_accaunt_login_inputs_labels">Ваш Email</div>
			<input name="email" type="email" required>
			<div class="my_accaunt_login_inputs_labels">Ваш пароль</div>
			<input name="password" type="password" required>
		</div>
		<button>Войти</button>
	</div>

	<div class="my_accaunt_registration">
		<div class="my_accaunt_registration_up">
			Регистрация
		</div>
		<div class="my_accaunt_registration_inputs">
			<div class="my_accaunt_registration_inputs_labels">Ваш Email</div>
			<input type="email" name="email">
			<div class="my_accaunt_registration_inputs_labels">Ваш пароль</div>
			<input name="password2" type="password" required>
			<div class="my_accaunt_registration_inputs_labels">Повторите ваш пароль</div>
			<input name="password2_repeat" type="password" required>
		</div>
		<div class="my_accaunt_registration_politic-privacy">
			Ваши личные данные будут использоваться для поддержки вашего опыта с этим веб-сайтом, для управления доступом к вашей учетной записи и для других целей, описанных в нашей <a href="#">политике конфиденциальности</a>.
		</div>
		<button>Регистрация</button>
	</div>
</div>

{% endblock %}