{% extends "base.html" %}
{% block title %}
{% endblock %}
{% block content %}

{% if not request.user.is_authenticated %}
<div class="my_accaunt">
	<form method="POST" class="my_accaunt_login">
	    {% csrf_token %}
	    <div class="my_accaunt_login_up">
	        Вход
	    </div>
	    <div class="my_accaunt_login_inputs">
	        <div class="my_accaunt_login_inputs_labels">Ваш логин</div>
	        {{ login_form.username }}
	        <div class="my_accaunt_login_inputs_labels">Ваш пароль</div>
	        {{ login_form.password }}
	    </div>
	    <button type="submit" name="login_form_submit">Войти</button>
	    {% if login_form.errors %}
		    <div class="error-messages">
		        <ul>
		            {% for field in login_form %}
		                {% for error in field.errors %}
		                    <li>{{ error }}</li>
		                {% endfor %}
		            {% endfor %}
		            {% for error in login_form.non_field_errors %}
		                <li>{{ error }}</li>
		            {% endfor %}
		        </ul>
		    </div>
		{% endif %}
	</form>


	<form method="POST" class="my_accaunt_registration">
        {% csrf_token %}
        <div class="my_accaunt_registration_up">
            Регистрация
        </div>
        <div class="my_accaunt_registration_inputs">
            <div class="my_accaunt_registration_inputs_labels">Ваш Email</div>
            {{ reg_form.email }}
            <div class="my_accaunt_registration_inputs_labels">Ваш Логин</div>
            {{ reg_form.username }}
            <div class="my_accaunt_registration_inputs_labels">Ваш пароль</div>
            {{ reg_form.password1 }}
            <div class="my_accaunt_registration_inputs_labels">Повторите ваш пароль</div>
            {{ reg_form.password2 }}
        </div>
        <div class="my_accaunt_registration_politic-privacy">
            Ваши личные данные будут использоваться для поддержки вашего опыта с этим веб-сайтом, для управления доступом к вашей учетной записи и для других целей, описанных в нашей <a href="#">политике конфиденциальности</a>.
        </div>
        <button type="submit" name="register_form_submit">Регистрация</button>

        {% if reg_form.errors %}
		    <div class="error-messages">
		        <ul>
		            {% for field in reg_form %}
		                {% for error in field.errors %}
		                    <li>{{ error }}</li>
		                {% endfor %}
		            {% endfor %}
		            {% for error in reg_form.non_field_errors %}
		                <li>{{ error }}</li>
		            {% endfor %}
		        </ul>
		    </div>
		{% endif %}

        {% if messages %}
		    <ul>
		        {% for message in messages %}
		            <li>{{ message }}</li>
		        {% endfor %}
		    </ul>
		{% endif %}
    </form>
</div>

{% else %}
<div class="my_accaunt1">
	<div class="my_accaunt1_welcome">
	    <p>Добро пожаловать, {{ request.user.username }}!</p>
		</div>
	<div class="my_accaunt1_btns">
		<button onclick="my_accaunt1_btns_zakazi()">История заказов</button>
		<button onclick="my_accaunt1_btns_adress()">Адреса</button>
		<button onclick="my_accaunt1_btns_anketa()">Анкета</button>
		<button onclick="my_accaunt1_btns_wants()">Список желаний</button>
		<form action="{% url 'my_accaunt:logout' %}" method="post">
		    {% csrf_token %}
		    <button type="submit">Выйти</button>
		</form>
	</div>


	<div class="my_accaunt1_zakazi" id="my_accaunt1_zakazi">
		<div class="my_accaunt1_zakazi_up">Заказ</div>
		<div class="my_accaunt1_zakazi_up">Дата</div>
		<div class="my_accaunt1_zakazi_up">Статус</div>
		<div class="my_accaunt1_zakazi_up">Итого</div>
		<div class="my_accaunt1_zakazi_up">Действия</div>
		{% for order in user_orders %}
            <p class="my_accaunt1_zakazi_element">Заказ № {{ order.id }}</p>
        	<p class="my_accaunt1_zakazi_element">{{ order.date }}</p>
        	<p class="my_accaunt1_zakazi_element">{{ order.status }}</p>
        	<p class="my_accaunt1_zakazi_element">{{ order.itogo }} Р</p>
        	<p class="my_accaunt1_zakazi_element"><a href="">Просмотр</a></p>
        {% endfor %} 
	</div>

	<div class="my_accaunt1_adress" id="my_accaunt1_adress" style="display: none;">
		<div class="my_accaunt1_adress_head">Следующий адрес будет использован по умолчанию при оформлении заказов.</div>
		<div class="my_accaunt1_adress_none-adress" id="my_accaunt1_adress_none-adress">
			{% if user_adress %}
			    {{ user_adress|safe }}
		    {% endif %}
		</div>

		<form class="my_accaunt1_adress_add" id="my_accaunt1_adress_add" method="post" {% if "Адрес заказчика" in user_adress %} style="display: block;" {% else %} style="display: none;" {% endif %}>
		    <div class="my_accaunt1_adress_add_head">Изменить адрес доставки</div>
		    {% csrf_token %}
		    <div>
		        <label for="{{ adress_form.first_name.id_for_label }}">Имя</label>
		        {{ adress_form.first_name }}
		    </div>
		    <div>
		        <label for="{{ adress_form.last_name.id_for_label }}">Фамилия</label>
		        {{ adress_form.last_name }}
		    </div>
		    <div>
		        <label for="{{ adress_form.oblast.id_for_label }}">Область/край</label>
		        {{ adress_form.oblast }}
		    </div>
		    <div>
		        <label for="{{ adress_form.city.id_for_label }}">Населенный пункт</label>
		        {{ adress_form.city }}
		    </div>
		    <div>
		        <label for="{{ adress_form.adress.id_for_label }}">Название улицы, номер дома, номер квартиры</label>
		        {{ adress_form.adress }}
		    </div>
		    <div>
		        <label for="{{ adress_form.postal_code.id_for_label }}">Почтовый индекс</label>
		        {{ adress_form.postal_code }}
		    </div>
		    <button type="submit" name="adress_form_submit">Сохранить</button>
		</form>
	</div>

	<form class="my_accaunt1_anketa" id="my_accaunt1_anketa" method="post" style="display: none;">
        {% csrf_token %}
        <label for="{{ anketa_form.email.id_for_label }}">Электронная почта</label>
        {{ anketa_form.email }}
        <label for="{{ anketa_form.username.id_for_label }}">Логин</label>
        {{ anketa_form.username }}
        <label for="{{ anketa_form.old_password.id_for_label }}">Введите старый пароль</label>
        {{ anketa_form.old_password }}
        <label for="{{ anketa_form.new_password1.id_for_label }}">Введите новый пароль</label>
        {{ anketa_form.new_password1 }}
        <label for="{{ anketa_form.new_password2.id_for_label }}">Повторите новый пароль</label>
        {{ anketa_form.new_password2 }}
	    {% if anketa_form.errors %}
		    <div class="error-messages">
		        <ul>
		            {% for field in anketa_form %}
		                {% for error in field.errors %}
		                    <li>{{ error }}</li>
		                {% endfor %}
		            {% endfor %}
		            {% for error in anketa_form.non_field_errors %}
		                <li>{{ error }}</li>
		            {% endfor %}
		        </ul>
		    </div>
		{% endif %}
		{% if messages %}
		    <ul>
		        {% for message in messages %}
		            <li>{{ message }}</li>
		        {% endfor %}
		    </ul>
		{% endif %}
    	<button type="submit" name="anketa_form_submit">Сохранить изменения</button>
	</form>
</div>

<form class="my_accaunt1_spisok" id="my_accaunt1_spisok" method="post">
	{% csrf_token %}
	<div class="spisok_text">
		Список желаний
	</div>
	<div class="spisok_table">
		<div class="spisok_table_first_row">
			<div class="spisok_table_first_row_galka">
				<input type="checkbox">
			</div>
			<div class="spisok_table_first_row_text">
				Наименование
			</div>
			<div class="spisok_table_first_row_text">
				Цена
			</div>
			<div class="spisok_table_first_row_text">
				Дата добавления
			</div>
			<div class="spisok_table_first_row_text">
				Статус склада
			</div>
		</div>
		<div class="spisok_table_second_row">
			<div class="spisok_table_second_row_galka">
				<input type="checkbox">
			</div>
			<div class="spisok_table_second_row_text_1">
				<div class="spisok_table_second_row_text_1_img">
					<img src="/static/assets/catalog/intel/S100.png" alt="">
				</div>
				<div class="spisok_table_second_row_text_1_text">
					Мини-ПК minisforum и какой то очень большой текст чтобы посмотреть ширину столбца
				</div>
			</div>
			<div class="spisok_table_second_row_text_2">
				105000 р.
			</div>
			<div class="spisok_table_second_row_text">
				18.06.2024
			</div>
			<div class="spisok_table_second_row_text">
				<i class=""></i>В наличии/отсутствует
			</div>
		</div>
		<div class="spisok_table_third_row">
			<div class="spisok_table_third_row_delete">
					<button>Удалить выбранное из корзины</button>
					<button>Удалить все из корзины</button>
			</div>
			<div class="spisok_table_third_row_add">
				<button>Добавить выбранное в корзину</button>
				<button>Добавить все в корзину</button>
			</div>
		</div>
	</div>
</form>
{% endif %}


{% endblock %}