{% extends "base.html" %}
{% block title %}
{% endblock %}
{% block content %}

{% if not request.user.is_authenticated %}
<div class="my_accaunt">
	<form method="POST" class="my_accaunt_login">
	    {% csrf_token %}
	    <div class="my_accaunt_login_up">
	        Вход
	    </div>
	    <div class="my_accaunt_login_inputs">
	        <div class="my_accaunt_login_inputs_labels">Ваш логин</div>
	        {{ login_form.username }}
	        <div class="my_accaunt_login_inputs_labels">Ваш пароль</div>
	        {{ login_form.password }}
	    </div>
	    <button type="submit" name="login_form_submit">Войти</button>
	    {% if login_form.errors %}
		    <div class="error-messages">
		        <ul>
		            {% for field in login_form %}
		                {% for error in field.errors %}
		                    <li>{{ error }}</li>
		                {% endfor %}
		            {% endfor %}
		            {% for error in login_form.non_field_errors %}
		                <li>{{ error }}</li>
		            {% endfor %}
		        </ul>
		    </div>
		{% endif %}

        {% if messages %}
		    <ul>
		        {% for message in messages %}
		            <li>{{ message }}</li>
		        {% endfor %}
		    </ul>
		{% endif %}
	</form>


	<form method="POST" class="my_accaunt_registration">
        {% csrf_token %}
        <div class="my_accaunt_registration_up">
            Регистрация
        </div>
        <div class="my_accaunt_registration_inputs">
            <div class="my_accaunt_registration_inputs_labels">Ваш Email</div>
            {{ reg_form.email }}
            <div class="my_accaunt_registration_inputs_labels">Ваш Логин</div>
            {{ reg_form.username }}
            <div class="my_accaunt_registration_inputs_labels">Ваш пароль</div>
            {{ reg_form.password1 }}
            <div class="my_accaunt_registration_inputs_labels">Повторите ваш пароль</div>
            {{ reg_form.password2 }}
        </div>
        <div class="my_accaunt_registration_politic-privacy">
            Ваши личные данные будут использоваться для поддержки вашего опыта с этим веб-сайтом, для управления доступом к вашей учетной записи и для других целей, описанных в нашей <a href="#">политике конфиденциальности</a>.
        </div>
        <button type="submit" name="register_form_submit">Регистрация</button>

        {% if reg_form.errors %}
		    <div class="error-messages">
		        <ul>
		            {% for field in reg_form %}
		                {% for error in field.errors %}
		                    <li>{{ error }}</li>
		                {% endfor %}
		            {% endfor %}
		            {% for error in reg_form.non_field_errors %}
		                <li>{{ error }}</li>
		            {% endfor %}
		        </ul>
		    </div>
		{% endif %}

        {% if messages %}
		    <ul>
		        {% for message in messages %}
		            <li>{{ message }}</li>
		        {% endfor %}
		    </ul>
		{% endif %}
    </form>
</div>

{% else %}
<div class="my_accaunt1">
	<div class="my_accaunt1_welcome">
	    <p>Добро пожаловать, {{ request.user.username }}!</p>
		</div>
	<div class="my_accaunt1_btns">
		<button>Заказы</button>
		<button>Адреса</button>
		<button>Анкета</button>
		<button>Список желаний</button>
		<form action="{% url 'my_accaunt:logout' %}" method="post">
		    {% csrf_token %}
		    <button type="submit">Выйти</button>
		</form>

	</div>
</div>
{% endif %}


{% endblock %}