{% extends "base.html" %}
{% block title %}
{% endblock %}
{% block content %}

<div class="home_slider" id="home_slider1">
	<div class="home_slider1_content">
		<div class="home_slider1_text">
			<div class="home_slider1_text_1">Minisforum V3</div>
			<div class="home_slider1_text_2">ПЕРВЫЙ В МИРЕ ПЛАНШЕТ AMD 3-в-1<br>ОС Windows</div>
			<div class="home_slider1_text_3">Лидер высокопроизводительных планшетов на базе Windows<br>Оснащен флагманским процессором AMD нового поколения Ryzen™ 7 8840U. Закажите сейчас и получите подарки от Minisforum!</div>	
		</div>
		<button>ЗАКАЗАТЬ</button>
	</div>	
	<img id="arrow_left" src="/static/assets/home/arrow.svg" onclick="home_return_slide(4)">
	<img id="arrow_right" src="/static/assets/home/arrow.svg" onclick="home_next_slide(2)">
</div>

<div class="home_slider" id="home_slider2">
	<div class="home_slider1_content">
		<div class="home_slider1_text">
			<div class="home_slider1_text_1">MS-01</div>
			<div class="home_slider1_text_2">Процессор Intel 13-го поколения Core i9</div>
			<div class="home_slider1_text_3">MS-01 оснащен процессорами Intel 13-го поколения Core i9-13900H, Core i9-12900H.</div>	
		</div>
		<button>ЗАКАЗАТЬ</button>
	</div>	
	<img id="arrow_left" src="/static/assets/home/arrow.svg" onclick="home_return_slide(1)">
	<img id="arrow_right" src="/static/assets/home/arrow.svg" onclick="home_next_slide(3)">
</div>

<div class="home_slider" id="home_slider3">
	<div class="home_slider1_content">
		<div class="home_slider1_text">
			<div class="home_slider1_text_1">Minisforum HX99G/HX100G</div>
			<div class="home_slider1_text_2">Идеальный выбор для геймеров и работы с графикой</div>
			<div class="home_slider1_text_3">Данные модели обладают мощными процессорами AMD Ryzen™ и видеокартами AMD Radeon™ RX 6650M, что делает их идеальным выбором для геймеров и профессионалов в области редактирования видео и графики.</div>	
		</div>
		<button>ЗАКАЗАТЬ</button>
	</div>	
	<img id="arrow_left" src="/static/assets/home/arrow.svg" onclick="home_return_slide(2)">
	<img id="arrow_right" src="/static/assets/home/arrow.svg" onclick="home_next_slide(4)">
</div>

<div class="home_slider" id="home_slider4">
	<div class="home_slider1_content">
		<div class="home_slider1_text">
			<div class="home_slider1_text_1">UM790 Pro</div>
			<div class="home_slider1_text_2">Стильный и мощный Мини-ПК</div>
			<div class="home_slider1_text_3">Мини-ПК представляет собой компактное устройство с высокой производительностью благодаря процессору AMD Ryzen™ 9 7940HS с 8 ядрами и 16 потоками. Графические возможности обеспечиваются видеокартой AMD Radeon™ 780M с частотой 2800 МГц, что позволяет наслаждаться качественным изображением. Самая полулярная модель в России.</div>	
		</div>
		<button>ЗАКАЗАТЬ</button>
	</div>	
	<img id="arrow_left" src="/static/assets/home/arrow.svg" onclick="home_return_slide(3)">
	<img id="arrow_right" src="/static/assets/home/arrow.svg" onclick="home_next_slide(1)">
</div>

<div class="home2">
	<div class="home2_left"></div>
	<div class="home2_right">
		<div class="home2_right_1">Создаем для себя и для своих единомышленников</div>
		<div class="home2_right_2">Команда Minisforum</div>
		<div class="home2_right_3">Российское комьюнити:</div>
		<a href="https://t.me/minisforum_community"><img src="/static/assets/home/tg_ico.png" width="64px" height="64px"></a><br>
		<button>К товарам</button>
	</div>
</div>

<div class="home3">
	<div class="home3_header">Популярное</div>
	<div class="home3_tabl">
		<div class="home3_tabl_card">
			<div class="home3_tabl_card_img"></div>
			<div class="home3_tabl_card_text">Мини-ПК Minisforum HX99G AMD Ryzen 9 6900HX AMD Radeon RX 6650M RAM DDR5 32GB 1TB SSD</div><hr>
			<div class="home3_tabl_card_price">105,000.00₽</div>
			<div class="home3_tabl_card_icons"></div>
		</div>
		<div class="home3_tabl_card">
			<div class="home3_tabl_card_img"></div>
			<div class="home3_tabl_card_text">Мини-ПК Minisforum HX99G AMD Ryzen 9 6900HX AMD Radeon RX 6650M RAM DDR5 32GB 1TB SSD</div><hr>
			<div class="home3_tabl_card_price">105,000.00₽</div>
			<div class="home3_tabl_card_icons"></div>
		</div>
		<div class="home3_tabl_card">
			<div class="home3_tabl_card_img"></div>
			<div class="home3_tabl_card_text">Мини-ПК Minisforum HX99G AMD Ryzen 9 6900HX AMD Radeon RX 6650M RAM DDR5 32GB 1TB SSD</div><hr>
			<div class="home3_tabl_card_price">105,000.00₽</div>
			<div class="home3_tabl_card_icons"></div>
		</div>
		<div class="home3_tabl_card">
			<div class="home3_tabl_card_img"></div>
			<div class="home3_tabl_card_text">Мини-ПК Minisforum HX99G AMD Ryzen 9 6900HX AMD Radeon RX 6650M RAM DDR5 32GB 1TB SSD</div><hr>
			<div class="home3_tabl_card_price">105,000.00₽</div>
			<div class="home3_tabl_card_icons"></div>
		</div>
	</div>
</div>

{% endblock %}
