{% extends "base.html" %}
{% block title %}
{% endblock %}
{% block content %}

<select name="" id="">
    <option value="">По умолчанию</option>
    <option value="">По популярности</option>
    <option value="">По рейтингу</option>
    <option value="">По новизне</option>
    <option value="">По возрастанию цены</option>
    <option value="">По убыванию цены</option>
</select>
<div class="catalog">
    <div class="catalog_left">
        <div class="catalog_left_categories">
            <ul>
                <b>Категории</b>
                <li><a href="">Для игр</a><div class="catalog_left_categories_img">1</div></li>
                <li><a href="">Серия AMD</a><div class="catalog_left_categories_img">2</div></li>
                <li><a href="">Серия Intel</a><div class="catalog_left_categories_img">3</div></li>
                <li><a href="">Все продукты minisforum</a><div class="catalog_left_categories_img">4</div></li>
            </ul>
        </div>
    </div>
    <div class="catalog_right">
        <div class="catalog_right_product">
            <div class="catalog_right_product_1">
                <img src="/static/assets/product1.svg" alt="">
                <a href="product1">Мини-ПК Minisforum EliteMini UM780 XTX Ryzen 7 7840HS RAM DDR5 32GB 1TB SSD</a>
            </div>
            <div class="catalog_right_product_2">
                <img src="/static/assets/product1.svg" alt="">
                <a href="product1">Мини-ПК Minisforum EliteMini UM780 XTX Ryzen 7 7840HS RAM DDR5 32GB 1TB SSD</a>
            </div>
            <div class="catalog_right_product_3">
                <img src="/static/assets/product1.svg" alt="">
                <a href="product1">Мини-ПК Minisforum EliteMini UM780 XTX Ryzen 7 7840HS RAM DDR5 32GB 1TB SSD</a>
            </div>
            <div class="catalog_right_product_4">
                <img src="/static/assets/product1.svg" alt="">
                <a href="product1">Мини-ПК Minisforum EliteMini UM780 XTX Ryzen 7 7840HS RAM DDR5 32GB 1TB SSD</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}