{% extends "base.html" %}
{% block title %}
{% endblock %}
{% block content %}
<div class="catalog_select">
    <select name="" id="">
        <option value="">По умолчанию</option>
        <option value="">По популярности</option>
        <option value="">По рейтингу</option>
        <option value="">По новизне</option>
        <option value="">По возрастанию цены</option>
        <option value="">По убыванию цены</option>
    </select>
</div>
<div class="catalog">
    <div class="catalog_left">
        <div class="catalog_left_categories">
            <ul>
                <div class="catalog_left_categories_text">
                    Категории
                    <div class="cherta"><hr></div>                    
                </div>
                <a href="/catalog"><li>Все товары</li></a>
                {% for category in categories %}
                <a href="?category={{ category.category }}"><li>{{ category.category }}<div class="catalog_left_categories_img">{{ category.count }}</div></li></a>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="catalog_right">
        <div class="catalog_right_product">
            {% for product in products %}
            <div class="home3_tabl_card" data-id="{{ product.product_id }}">
                <div class="home3_tabl_card_parts">
                    <a href="/catalog/product?product={{ product.product_name }}"><img class="home3_tabl_card_img" src="{{ product.image }}"></a>
                    <a href="/catalog/product?product={{ product.product_name }}"><div class="home3_tabl_card_text"><div class="gain-center">{{ product.product_name }}</div></div></a>
                </div>

                <div class="home3_tabl_card_parts">
                    <hr>
                    <div class="home3_tabl_card_price">{{ product.price }} ₽</div>
                    <div class="home3_tabl_card_icons">
                        <a href="/catalog/product?product={{ product.product_name }}"><div class="home3_tabl_card_search"></div></a>
                        <a href="#" class="like-btn home3_tabl_card_heart {% if product.product_id in liked_products %}liked{% endif %}" data-product-id="{{ product.product_id }}"></a>
                        <div class="home3_tabl_card_shop" id="home3_tabl_card_shop" onclick="add_to_korzina()"></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
