{% extends "base.html" %}
{% block title %}
{% endblock %}
{% block content %}
<div class="catalog_select">
    <form method="get" action="">
        <select name="sort" id="sort" onchange="this.form.submit()">
            <option value="default" {% if sort == 'default' %}selected{% endif %}>По умолчанию</option>
            <option value="rating" {% if sort == 'rating' %}selected{% endif %}>По рейтингу</option>
            <option value="newest" {% if sort == 'newest' %}selected{% endif %}>По новизне</option>
            <option value="price_asc" {% if sort == 'price_asc' %}selected{% endif %}>По возрастанию цены</option>
            <option value="price_desc" {% if sort == 'price_desc' %}selected{% endif %}>По убыванию цены</option>
        </select>
        <input type="hidden" name="category" value="{{ category_name }}">
    </form>
</div>
<div class="catalog">
    <div class="catalog_left">
        <div class="catalog_left_categories">
            <ul>
                <div class="catalog_left_categories_text">
                    Категории
                    <div class="cherta"><hr></div>
                </div>
                <a href="?sort={{ sort }}"><li>Все товары</li></a>
                {% for category in categories %}
                <a href="?category={{ category.category }}&sort={{ sort }}"><li>{{ category.category }}<div class="catalog_left_categories_img">{{ category.count }}</div></li></a>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="catalog_right">
        <div class="catalog_right_product">
            {% for product in products %}
            <div class="home3_tabl_card" data-id="{{ product.product_id }}">
                <div class="home3_tabl_card_parts">
                    <a href="/catalog/product?product={{ product.product_name }}"><img class="home3_tabl_card_img" src="{{ product.image }}"></a>
                    <a href="/catalog/product?product={{ product.product_name }}"><div class="home3_tabl_card_text"><div class="gain-center">{{ product.product_name }}</div></div></a>
                </div>
                <div class="home3_tabl_card_parts">
                    <hr>
                    <div class="home3_tabl_card_price">{{ product.price }} ₽</div>
                    <div class="home3_tabl_card_icons">
                        <a href="/catalog/product?product={{ product.product_name }}"><div class="home3_tabl_card_search"></div></a>
                        <a href="#" class="like-btn get_id_from_catalog home3_tabl_card_heart {% if product.product_id in liked_products %}liked{% endif %}" data-product-id="{{ product.product_id }}" onclick="get_product_name('{{ product }}')"></a>
                        <div class="home3_tabl_card_shop" id="home3_tabl_card_shop" onclick="add_to_korzina()"></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
