{% extends "base.html" %}
{% block title %}
{% endblock %}
{% block content %}

<div class="product">
	<div class="product_left zoom-container">
		<img src="/static/assets/3.webp" class="zoom-image" id="product_main_img">
	</div>
	<div class="product_right">
		<div class="product_right_title">{{ product.product_name }}</div>
		<div class="product_right_price">{{ product.price }}₽</div>
		<div class="product_right_discription">{{ product.description }}</div>
		<hr>

		<form method="post">
			{% csrf_token %}
			{{ product_form.number }}
			<button type="submit" name="product_form_submit">В КОРЗИНУ</button>
		</form>

		<div class="product_right_want">
			<div class="product_right_want_heart"></div>
			<div class="product_right_want_text">Добавить в список желаний</div>
		</div>
	</div>
</div>

<div class="product_img-mini">
	{% if product.image is not Null %}
	<img src="{{ product.image }}" onclick="change_image(this)">
	{% endif %}
	{% if product.back_image is not Null %}
	<img src="{{ product.back_image }}" onclick="change_image(this)">
	{% endif %}
	{% if product.image1 is not Null %}
	<img src="{{ product.image1 }}" onclick="change_image(this)">
	{% endif %}
	{% if product.image2 is not Null %}
	<img src="{{ product.image2 }}" onclick="change_image(this)">
	{% endif %}
	{% if product.image3 is not Null %}
	<img src="{{ product.image3 }}" onclick="change_image(this)">
	{% endif %}
	{% if product.image4 is not Null %}
	<img src="{{ product.image4 }}" onclick="change_image(this)">
	{% endif %}
	{% if product.image5 is not Null %}
	<img src="{{ product.image5 }}" onclick="change_image(this)">
	{% endif %}
	{% if product.image6 is not Null %}
	<img src="{{ product.image6 }}" onclick="change_image(this)">
	{% endif %}
</div>

<div class="product_feedback">
	<hr>
	<div class="product_feedback_count">Отзывы (0)</div>
	<div class="product_feedback_head">
		Отзывы
	</div>
	<div class="product_feedback_none">
		<div class="product_feedback_none_1">
			Отзывов пока нет.
		</div>
		<div class="product_feedback_none_2">
			Будьте первым, кто оставил отзыв на “{{ product.product_name }}”
		</div>
	</div>
	<p class="product_feedback_stars">
		<span>
			<a class="product_feedback_star_1" href="#">1</a>
			<a class="product_feedback_star_2" href="#">2</a>
			<a class="product_feedback_star_3" href="#">3</a>
			<a class="product_feedback_star_4" href="#">4</a>
			<a class="product_feedback_star_5" href="#">5</a>
		</span>
	</p>
	<textarea placeholder="Ваш отзыв"></textarea>
	<button>ОТПРАВИТЬ</button>
</div>


{% endblock %}