.full_shop_center_buy {
    display: grid;
    grid-template-columns: 1fr 2fr 0.5fr;
    gap: 15px;
    padding: 10px;
}

.full_shop_down {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.full_shop_center_buy_img img{
    height: 80px;
    width: 80px;
}

.full_shop_center_buy_text{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    font-weight: 600;
    gap: 5px;
}

.full_shop_down_text {
    text-align: center;
    padding: 15px 15px 15px 15px;
    font-weight: 600;
    font-size: 15px;
}

.xoo-wsc-icon-trash {
	color: #232323;
	font-size: 30px;
}

.xoo-wsc-icon-trash:before {
  content: "\e907";
  align-items: center;
}

.full_shop_center_buy_urna {
    display: flex;
    align-items: center;
    text-align: center;
}