* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;
}

/*Начало блока shop*/
@font-face {
  font-family: 'Woo-Side-Cart';
  src:  url('fonts/Woo-Side-Cart.eot?le17z4');
  src:  url('fonts/Woo-Side-Cart.eot?le17z4#iefix') format('embedded-opentype'),
    url('fonts/Woo-Side-Cart.woff?le17z4') format('woff'),
    url('fonts/Woo-Side-Cart.ttf?le17z4') format('truetype'),
    url('fonts/Woo-Side-Cart.svg?le17z4#Woo-Side-Cart') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'tinvwl-webfont';
  src: url('fonts/tinvwl-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'WooCommerce';
  src: url('fonts/woocommerce.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="xoo-wsc-icon-"], [class*=" xoo-wsc-icon-"] {
	font-family: 'Woo-Side-Cart' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.xoo-wsc-icon-basket1 {
	color: #232323;
	font-size: 30px;
}

.xoo-wsc-icon-basket1:before {
  content: "\e904";
}

.xoo-wsc-icon-bag2 {
	font-size: 37px;
	color: white;
}

.xoo-wsc-icon-bag2:before {    
	content: "\e910";
}

.shop_cont {
	position: fixed;
	opacity: 0;
	top: 0px;
	right: 0px;
	width: 320px;
	height: 100%;
	z-index: 1;
}

.shop {
	z-index: 2;
	position: fixed;
	right: 12px;
	bottom: 12px;
	background-color: white;
	display: flex;
	height: 60px;
	width: 60px;
	border-radius: 6px;
	box-shadow: 0 7px 50px 0 rgba(41, 100, 216, 0.2);
	justify-content: center;
	align-items: center;
	transition: 0.5s ease-out;
}

.shop:hover {
	cursor: pointer;
}

.count_want {
	position: absolute;
	color: white;
	background-color: #232323;
	top: -12px;
	left: -12px;
	border-radius: 50%;
	font-size: 13px;
	height: 28px;
	width: 28px;
	text-align: center;
	overflow: hidden;
	line-height: 28px;
}

.full_shop {
	top: 0px;
	right: 0px;
	width: 320px;
	height: 100%;
	position: fixed;
	background-color: white;
	display: flex;
	flex-direction: column;
	transition: 0.5s ease-out;
}

.full_shop_header {
	background-color: #222222;
	color: white;
	padding: 15px;
	line-height: 1.7;
}

.full_shop_header_top {
	display: flex;
	gap: 8px;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.full_shop_header_top_text {
	font-size: 20px;
	color: white;
}

.full_shop_center {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-size: 16px;
	color: black;
}

.full_shop_center_empty {
	display: flex;
	flex-direction: column;
	font-weight: 700;
	gap: 20px;
	padding: 30px;
	margin-bottom: 20px;
}

.full_shop_center_empty a {
	text-align: center;
}

.full_shop_center_empty button {
	font-size: 14px;
	background-color: #222222;
	border-radius: 6px;
	font-weight: 500;
	transition: all 0.2s;
	color: white;
	border: none;
	padding: 12px 14px;
}

.full_shop_center_empty button:hover {
	background-color: #0055CC;
	cursor: pointer;
}

.dark_back {
	position: fixed;
	display: none;
	opacity: 0;
	z-index: 1;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	transition: opacity 0.5s;
	background-color: rgba(0, 0, 0, 0.7);
}

.shop_slide_out {
	transform: translateX(100%);
	opacity: 0;
}

.shop_slide_in {
	transform: translateX(0%);
	opacity: 1;
}

.full_shop_down {
	box-shadow: 0 -1px 10px #0000001a;
	padding: 10px 20px;
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 0px;
	width: 100%;
}

.full_shop_down button {
	color: #232323;
	background-color: white;
	border-radius: 6px;
	transition: all 0.2s;
	font-size: 14px;
	font-weight: 700;
	padding: 5px 14px;
	border: solid 2px;
	border-color: rgba(117, 117, 117, 0.16);
}

.full_shop_down button:hover {
	cursor: pointer;
	border-color: #767676;
}
/*Конец блока shop*/

/*Начало блока хедер*/
nav {
	height: 75px;
	width: 100%;
	background-color: #111111;
	gap: 10px;
	align-items: center;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;

}

.navbar_links ul {
	list-style-type: none;
}

.navbar_links ul {
	justify-items: center;
	align-items: center;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}

.navbar_links a {
	line-height: 15.46px;
	padding: 10px;
	color: white;
	font-size: 16px;
	font-weight: 400;
}

.navbar_links a:hover {
	text-decoration: underline;
	color: #87C232;
}

.navbar_icons {
	display: flex;
	gap: 30px;
	justify-content: center;
	align-items: flex-start;
}

.navbar_logo {
	text-align: center;
	height: 75px;
}

.sub_nav {
	display: grid;
	align-items: center;
	grid-template-columns: repeat(2, 1fr);
}

.navbar_logo img {
  padding: 20px 20px;
  text-align: center;
  height: 75px;
  width: 250px;
}

/*Конец блока хедер*/




/*Начало блока блог*/
.blog1 {
	padding: 0px 110px 0px 110px;
	background-color: white;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}

.content {
	background-color: #789294;
}

.blog1_left {
	font-family: 'Jura';
	font-size: 40px;
	font-weight: 700;
	line-height: 80px;
	letter-spacing: 3.5999999046325684px;
	
}

.blog1_right {
	display: flex;
	gap: 15px;
	justify-content: flex-end;
}

.blog1_right input {
	font-size: 16px;
	font-weight: 400;
	line-height: 27.2px;
	border-radius: 8px;
	border: solid 1px #1A1A1A1F;
	width: 320px;
	padding: 0px 10px 0px 10px;
}

.blog1_right button {
	background-color: #87C232;
	border-radius: 24px;
	font-size: 15.27px;
	line-height: 27.2px;
	font-weight: 700;
	font-family: "Inter";
	border: none;
	align-items: center;
	color: white;
	display: flex;
	gap: 10px;
	padding: 5px 15px 5px 15px;
}

.blog2 {
	background-color: #6E92406B;
	border-radius: 24px;
	padding: 30px;
	margin: 40px 30px 40px 30px
}

.blog2_header {
	display: flex;
	align-items: center;
	position: relative;
	margin-bottom: 20px;
}

.blog2_header_left date, .blog3_aricle date {
	display: flex;
	gap: 10px;
	color: #6E9240;
	background-color: white;
	border-radius: 30px;
	align-items: center;
	padding: 10px 20px 10px 20px;
}

.blog2_header_right {
	position: absolute;
	width: 100%;
	font-size: 40px;
	font-weight: 500;
	line-height: 32px;
	text-align: center;	
	color: white;
}

.blog2_under {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.blog2_under_img {
	background-image: url("/static/assets/download (1).webp");
	background-size: cover;
	background-repeat: no-repeat;
	height: 375px;
	border-radius: 24px;
}

.blog2_under_text {
	font-size: 28px;
	font-weight: 500;
	line-height: 32px;
	color: white;
	text-align: center;
}

.blog3 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 70px;
	margin-top: 30px;
	margin-left: 30px;
	margin-right: 30px;
	padding: 50px;
}

.blog3_aricle_date {
	display: flex;
	justify-content: flex-end;
}

.blog3_aricle_img {
	background-image: url("/static/assets/download (1).webp");
	background-size: cover;
	background-repeat: no-repeat;
	height: 420px;
	border-radius: 24px;
}

.blog3_aricle_text {
	font-size: 28px;
	line-height: 32px;
	font-weight: 500;
	text-align: center;
	color: white;
}

.blog3_aricle date {
	width: 167px;
	justify-content: center;
}

/*Конец блока блог*/

/*Начало блока о нас*/
.about1 {
	background-size: cover;
    background-repeat: no-repeat;
	width: 100%;
	height: 810px;
	background-image: url("/static/assets/about/about main.jpg");
}

.about1_text {
	color: rgb(48, 48, 48);
	font-size: 100px;
	line-height: 114px;
	font-weight: 400;
	text-align: right;
	padding: 150px 150px 0px 0px;
	margin-right: 50px;
	text-shadow: 1px -1px hsla(0, 0%, 30%, .6),
             2px -2px hsla(0, 0%, 30%, .7),
             3px -3px hsla(0, 0%, 32%, .8),
             4px -4px hsla(0, 0%, 30%, .9),
             5px -5px hsla(0, 0%, 30%, 1.0);

}

.about2_content {
	padding: 40px 50px 40px 50px;
	background-color: #ffffff;
	border-radius: 15px;
}

.about2 {
	margin-top: 50px;
}

.about2_content_up {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 50px;
	justify-items: center;
	margin-bottom: 30px;
}

.about3_content_up {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 50px;
	justify-items: center;
	align-items: center;
	margin-bottom: 30px;
}

.about2_content_up_img {
	height: 438px;
	width: 100%;
	background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
	background-image: url("/static/assets/about/pc.svg");
}

.about2_content_up_text {
	font-size: 32px;
	font-weight: 400;
	line-height: 28px;
	color: rgb(22, 22, 22);
}

/*Конец блока о нас*/

/*Начало блока home*/


#home_slider2, #home_slider3, #home_slider4 {
	display: none;
}

#home_slider1 {
	display: block;
}

#home_slider1 {
	background-image: url("/static/assets/home/slider1.jpg");
}

#home_slider2 {
	background-image: url("/static/assets/home/slider2.png");
}

#home_slider3 {
	background-image: url("/static/assets/home/slider3.jpg");
}

#home_slider4 {
	background-image: url("/static/assets/home/slider4.jpg");
}

#home_slider1, #home_slider2, #home_slider3, #home_slider4 {
	background-size: cover;
    background-repeat: no-repeat;
	overflow: hidden;
	text-align: center;
}

.home_slider button {
	background-color: #222222;
	font-size: 14px;
	font-weight: 500;
	border: none;
	border-radius: 100px;
	color: white;
	padding: 10px 20px;
	margin-top: 20px;
	transition: all 0.2s;
	z-index: 1000;
	position: relative;
}

.home_slider button:hover {
	background-color: #0055CC;
    cursor: pointer;
}

.home_slider1_content {
	margin: 400px 200px;
}

.home_slider1_text {
	background-color: rgba(0, 0, 0, .3);
	border-radius: 100px;
	text-align: center;
	padding: 30px;
}

.home_slider1_text_1 {
	line-height: 70px;
	font-size: 60px;
	color: white;
}

.home_slider1_text_2 {
	line-height: 60px;
	font-size: 32px;
	font-weight: 500;
	color: white;
}

.home_slider1_text_3 {
	line-height: 30px;
	font-size: 16px;
	color: white;
}

.home_slider {
	position: relative;
}

.home_arrows {
	transform: translateX(0%) translateY(100%);
	opacity: 0;
	transition: opacity 0.5s, transform 0.5s;
	position: absolute;
	display: flex;
	justify-content: space-between;
	padding: 0px 50px;
	width: 100%;
	height: 100%;
	bottom: 0px;
}

.home_slider:hover .home_arrows {
	opacity: 1;
	transform: translateX(0%) translateY(50%);
}

.home2 {
	display: grid;
	gap: 50px;
	text-align: center;
	align-items: center;
	grid-template-columns: 1fr 1fr;
	margin: 60px 200px;
}

#arrow_left {
	transform: rotate(180deg);
	height: 100px;
}

#arrow_right {
	height: 100px;
}

#arrow_left:hover, #arrow_right:hover {
	cursor: pointer;
}

.home2_left {
	background-image: url("/static/assets/home/comand.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
	height: 500px;
}

.home2_right_1 {
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 20px;
}

.home2_right_2 {
	font-weight: 600;
	font-size: 32px;
	margin-bottom: 20px;
}

.home2_right_3 {
	font-weight: 400;
	font-size: 24px;
	margin-bottom: 20px;
}

.home2_right button {
	transition: all 0.2s;
	margin-top: 20px;
	font-size: 18px;
	font-weight: 600;
	border: solid 2px black;
	background-color: white;
	padding: 10px 30px;
}

.home2_right button:hover {
	color: white;
	background-color: black;
	cursor: pointer;
}

.home3 {
	padding: 60px 200px;
}

.home3_header {
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 20px;
}

.home3_tabl {
	display: grid;
	gap: 50px;
	grid-template-columns: repeat(4, 1fr);
}

.home3_tabl_card_img {
	background-image: url("/static/assets/home/card1.webp");
	background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
}

.home3_tabl_card_text {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 30px;
}

.home3_tabl_card hr {
	width: 30%;
	opacity: 0.8;
	margin-bottom: 15px;
}

.home3_tabl_card_price {
	font-size: 16px;
	font-weight: 600;
}

.home3_tabl_card_icons {
	display: flex;
	gap: 10px;
	justify-content: center;
	margin-top: 10px;
	align-items: center;
}

.home3_tabl_card_search:hover, .home3_tabl_card_heart:hover, .home3_tabl_card_shop:hover {
	cursor: pointer;
}

.home3_tabl_card_search:hover::before, .home3_tabl_card_heart:hover::before, .home3_tabl_card_shop:hover::before {
	background-color: black;
	color: white;
}

.home3_tabl_card_search::before {
	font-family: WooCommerce;
  	content: "\e024";
  	font-weight: 400;
  	color: black;
  	font-size: 25px;
  	border-radius: 100%;
  	border: solid 1px black;
  	padding: 10px;
  	transition: all 0.4s;
}

.home3_tabl_card_heart::before {
	font-family: tinvwl-webfont;;
  	content: "\e908";
  	font-weight: 400;
  	color: black;
  	font-size: 45px;
  	border-radius: 100%;
  	border: solid 1px black;
  	transition: all 0.4s;
}

.home3_tabl_card_shop::before {
	font-family: tinvwl-webfont;;
  	content: "\e913";
  	font-weight: 400;
  	color: black;
  	font-size: 25px;
  	border-radius: 100%;
  	border: solid 1px black;
  	padding: 10px;
  	transition: all 0.4s;
}

/*Конец блока home*/

/*начало блока контакты*/
.contact1 {
	padding: 60px 200px;
}

.contact1_up {
	font-weight: 600;
	font-size: 50px;
	margin-bottom: 100px;
}

.contact2 {
	background-image: url("/static/assets/contact/contact.jpg");
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
    justify-items: center;
    padding: 100px 200px;
}

.contact2_left {
	padding: 60px 120px 60px 120px;
}

.contact2_right {
	text-align: right;
}

.contact2_1 {
	font-weight: bold;
	font-size: 22px;
	padding-bottom: 30px;
}

.contact2_2 {
    padding-bottom: 20px;
}

.contact2_3 {
    padding-bottom: 5px;
}

.contact2_4 {
    padding-bottom: 15px;
}

.contact2_5 {
    padding-bottom: 5px;
}

.contact2_6 {
    padding-bottom: 15px;
}

.contact2_7 {
    padding-bottom: 5px;
}

.contact2_right input {
	border-radius: 6px;
	border: solid 1px #bbb;
	box-shadow: none;
	font-size: 14px;
	padding: 10px 16px;
	width: 100%;
	margin-bottom: 30px;
}

.contact2_right textarea {
	border-radius: 6px;
	border: solid 1px #bbb;
	box-shadow: none;
	font-size: 14px;
	padding: 10px 16px;
	width: 100%;
	height: 160px;
	resize: none;
	margin-bottom: 24px;
}

.contact2_right button {
	padding: 5px 14px 5px 14px;
	border: 2px solid white;
	border-radius: 6px;
	font-size: 14;
	font-weight: 600;
	background-color: white;
}
/*конец блока контакты*/

/*Начало блока my_accaunt*/

.my_accaunt {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 48px 260px;
	gap: 140px;
}

.my_accaunt_registration, .my_accaunt_login {
	text-align: center;
}

.my_accaunt_registration_up, .my_accaunt_login_up {
	font-weight: 600;
	font-size: 50px;
	margin-bottom: 40px;
	color: #222222;
	text-align: center;
}

.my_accaunt_login_inputs, .my_accaunt_registration_inputs {
	color: #232323;
	font-size: 14px;
	text-align: left;
}

.my_accaunt_login_inputs_labels, .my_accaunt_registration_inputs_labels {
	display: block;
	margin-bottom: 6px;
}

.my_accaunt_login_inputs input, .my_accaunt_registration_inputs input {
	border-radius: 6px;
	color: #757575;
	border: solid 1px #efefef;
	box-shadow: none;
	font-size: 14px;
	line-height: 45px;
	padding: 0px 16px;
	margin-bottom: 5px;
	width: 100%;
}

.my_accaunt_registration_politic-privacy {
	font-size: 14px;
	margin-bottom: 20px;
	text-align: left;
	color: #232323;
	font-weight: 500;
}

.my_accaunt_registration_politic-privacy a {
	color: #767676;
	text-decoration: none;
}

.my_accaunt_login button {
	margin-top: 10px;
}

.my_accaunt_login button, .my_accaunt_registration button {
	text-align: center;
	cursor: pointer;
	background-color: #222222;
	font-weight: 600;
	padding: 15px 25px;
	text-transform: uppercase;
	font-size: 14px;
	box-shadow: 0 7px 50px 0 rgba(41,100,216,0.2);
	transition: all 0.2s;
	border-radius: 6px;
	color: white;
	border: none;
	min-width: 130px;
}

.my_accaunt_login button:hover, .my_accaunt_registration button:hover {
	background-color: #2EA3F2;
}

.error-messages ul li {
	margin-top: 20px;
	color: red;
}

.my_accaunt1 {
	padding: 48px 260px;
}

.my_accaunt1_welcome {
	font-weight: 600;
	font-size: 32px;
	text-align: center;
	margin-bottom: 40px;
}

.my_accaunt1_btns {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 20px;
	text-align: center;
	margin-bottom: 40px;
}

.my_accaunt1_btns button {
	background-color: white;
	border: none;
	font-weight: 600;
	font-size: 24px;
}

.my_accaunt1_btns button:hover {
	cursor: pointer;
}

.my_accaunt1_zakazi {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 20px;
}

.my_accaunt1_zakazi_up {
	font-size: 18px;
	text-align: center;
	color: #757575;
	font-weight: 600;
}

.my_accaunt1_zakazi_element {
	font-size: 16px;
	text-align: center;
}

.my_accaunt1_zakazi_element a {
	text-decoration: underline;
	font-weight: 600;
}

.my_accaunt1_zakazi_element a:hover {
	color: #2EA3F2;
}

.my_accaunt1_adress_head {
	font-size: 18px;
	margin-bottom: 40px;
}

.my_accaunt1_adress_none-adress {
	font-size: 24px;
	font-weight: 600;
}

.my_accaunt1_adress_none-adress button {
	font-size: 24px;
	font-weight: 600;
	background-color: white;
	border: none;
	color: #757575;
}

.my_accaunt1_adress_none-adress button:hover {
	cursor: pointer;
	color: #2EA3F2;
}

.my_accaunt1_adress_add_head {
	font-size: 24px;
	font-weight: 600;
}

.my_accaunt1_adress_add_head {
	margin-bottom: 24px;
}

.my_accaunt1_adress_add input {
	border-radius: 6px;
    color: #757575;
    border: solid 1px #efefef;
    box-shadow: none;
    font-size: 14px;
    line-height: 45px;
    padding: 0px 16px;
    margin-bottom: 5px;
    width: 100%;
}

.my_accaunt1_adress_add label {
	margin-bottom: 14px;
}

.my_accaunt1_adress_add button {
	text-align: center;
    cursor: pointer;
    background-color: #222222;
    font-weight: 600;
    padding: 15px 25px;
    text-transform: uppercase;
    font-size: 14px;
    box-shadow: 0 7px 50px 0 rgba(41, 100, 216, 0.2);
    transition: all 0.2s;
    border-radius: 6px;
    color: white;
    border: none;
    min-width: 130px;
    margin-top: 24px;
    transition: background-color 0.5s;
}

.my_accaunt1_adress_add button:hover {
	background-color: #2EA3F2;
}

#my_accaunt1_adress_none-adress {
	margin-bottom: 24px;
	display: inline-block;
}

.my_accaunt1_anketa label {
	margin-bottom: 14px;
}

.my_accaunt1_anketa input {
	border-radius: 6px;
    color: #757575;
    border: solid 1px #efefef;
    box-shadow: none;
    font-size: 14px;
    line-height: 45px;
    padding: 0px 16px;
    margin-bottom: 5px;
    width: 100%;
}

.my_accaunt1_anketa button {
	text-align: center;
    cursor: pointer;
    background-color: #222222;
    font-weight: 600;
    padding: 15px 25px;
    text-transform: uppercase;
    font-size: 14px;
    box-shadow: 0 7px 50px 0 rgba(41, 100, 216, 0.2);
    transition: all 0.2s;
    border-radius: 6px;
    color: white;
    border: none;
    min-width: 130px;
    margin-top: 24px;
    transition: background-color 0.5s;
}

.my_accaunt1_anketa button:hover {
	background-color: #2EA3F2;
}

.my_accaunt1_spisok{
    padding: 0px 100px;
}

.spisok_text {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    padding: 15px;
    margin-bottom: 25px;
}

.spisok_table {
    display: grid;
    grid-template-rows: 2fr 2.5fr 2fr;
    border: 0.5px solid #EFEFEF;
    padding: -100px;
}

.spisok_table_first_row {
    display: grid;
    grid-template-columns: 1fr 4fr 2fr 1.5fr 1.5fr;
    align-items: center;
    font-weight: 550;
    font-size: 20px;
    padding: 10px;
    background-color: #EFEFEF;
}

.spisok_table_second_row {
    display: grid;
    grid-template-columns: 1fr 4fr 2fr 1.5fr 1.5fr;
    align-items: center;
    font-weight: 300;
    font-size: 15px;
    padding: 10px;
    border: 0.5px solid #EFEFEF;
    border-right: 0px;
    border-left: 0px;
}

.spisok_table_third_row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 1px;
    background-color: #EFEFEF;
    padding-bottom: 15px;
}

.spisok_table_first_row_text {
    color: rgb(82, 82, 82);
    text-align: center;
}

.spisok_table_second_row_text_1 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    font-weight: bold;
    text-align: justify;
    align-items: center;
}

.spisok_table_second_row_text_1_img img{
    width: 100px;
    height: 100px;
}

.spisok_table_second_row_text_1_text {
    margin-left: 15px;
}

.spisok_table_second_row_text_2 {
    text-align: center;
    font-weight: bold;
}

.spisok_table_second_row_text {
    text-align: center;
}

.spisok_table_third_row_delete {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    padding-left: 10px;
}

.spisok_table_third_row_delete button {
    text-align: center;
    cursor: pointer;
    background-color: #222222;
    font-weight: 600;
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 14px;
    box-shadow: 0 7px 50px 0 rgba(41, 100, 216, 0.2);
    transition: all 0.2s;
    border-radius: 6px;
    color: white;
    border: none;
    min-width: 110px;
    height: 50px;
    margin-top: 24px;
    transition: background-color 0.5s;
}


.spisok_table_third_row_delete button:hover {
	background-color: #2EA3F2;
}

.spisok_table_third_row_add {
    display: flex;
    gap: 5px;
    padding-right: 10px;
    justify-content: flex-end;
}

.spisok_table_third_row_add button {
    text-align: center;
    cursor: pointer;
    background-color: #222222;
    font-weight: 600;
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 14px;
    box-shadow: 0 7px 50px 0 rgba(41, 100, 216, 0.2);
    transition: all 0.2s;
    border-radius: 6px;
    color: white;
    border: none;
    min-width: 110px;
    height: 50px;
    margin-top: 24px;
    transition: background-color 0.5s;
}


.spisok_table_third_row_add button:hover {
	background-color: #2EA3F2;
}

.spisok_table_first_row_galka {
    padding-left: 15px;
}

.spisok_table_first_row_galka input{
    width: 25px;
    height: 25px;
}

.spisok_table_second_row_galka {
    padding-left: 15px;
}

.spisok_table_second_row_galka input{
    width: 25px;
    height: 25px;
}
/*Конец блока my_accaunt*/

/*НАчало блока footer*/

.footer {
	background-color: white;
	padding: 100px 200px;
	gap: 20px;
	display: grid;
	grid-template-columns: 3fr 1fr 1fr 1fr;
	justify-items: start;
}

.aboutus {
	padding: 10px;
}

.aboutus img {
	margin-bottom: 20px;
}

.footer_text_aboutus{
	font-family: "Roboto", sans-serif;
	text-align: justify;
}

.link {
	text-align: center;
	display: flex;
	gap: 20px;
}

.footer_client ul, .Support ul, .footer_about ul, .footer_client ul {
	list-style-type: none;
	padding: 10px;
	border: 1px;
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	text-align: left;	
	display: grid;
	gap: 10px;
}
/*Конец блока footer*/
/*Начало блока Каталог*/
.catalog {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.catalog_left_categories li {
	display: grid;
	grid-template-columns: 4fr 1fr;
	margin-bottom: 10px;
}

.catalog_left_categories {
	margin-left: 50px;
}

.cherta {
	padding-top: 30px;
}

.catalog_left_categories_img{
	border-radius: 100px;
	background-color: #f1f1f1;
	width: 24px;
	height: 24px;
	text-align: center;
	color: #5f5f5f;
	font-size: 12px;
	line-height: 25px;
}
.catalog_right_product {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	text-align: center;
	padding: 10px;
}

.catalog_right_product_1 img, .catalog_right_product_2 img, .catalog_right_product_3 img, .catalog_right_product_4 img, .catalog_right_product_5 img, .catalog_right_product_6 img, .catalog_right_product_7 img, .catalog_right_product_8 img, .catalog_right_product_9 img, .catalog_right_product_10 img,.catalog_right_product_11 img, .catalog_right_product_12 img, .catalog_right_product_13 img, .catalog_right_product_14 img, .catalog_right_product_15 img, .catalog_right_product_16 img, .catalog_right_product_17 img, .catalog_right_product_18 img {
	width: 100px;
	height: 100px;
	text-align: center;
}

.catalog_select {
	margin-top: 10px;
	margin-left: 1330px;
	margin-bottom: 20px;
}

.catalog_select select {
	border-radius: 10px;
	height: 32px;
}

.catalog_left_categories_text {
	text-align: left;
	margin-bottom: 40px;
	font-weight: bold;
	text-transform: uppercase !important;
}

.catalog_right_product_text {
	margin-top: -15px;
	font-weight: 600;
	margin-bottom: 20px;
}

.catalog_right {
	margin-left: 50px;
}
/*Конец блока Каталог*/

/*Начало блока product*/
.product {
	padding: 68px 204px 0px 204px;
	display: grid;
	grid-template-columns: 2fr 3fr;
}

.product_left {
	overflow: hidden;
	position: relative;
	display: flex;
	justify-content: center; 
	align-items: center;
}

.product_left img {
	position: absolute;
	width: 100%;
	height: auto;
}

.product_right {
	padding: 0px 40px;
}

.product_right_title, .product_right_price {
    word-wrap: break-word;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 24px;
    color: #222222;
}

.product_right hr {
	border-color: #ffffff;
	margin-bottom: 24px;
}

.product_right input {
	color: #757575;
	font-size: 14px;
	text-align: center;
	border-radius: 6px;
	height: 55px;
	width: 98px;
	border: solid 1px #999;
	margin-right: 30px;
}

.product_right input[type=number]::-webkit-inner-spin-button,
.product_right input[type=number]::-webkit-outer-spin-button {
    height: 1%;
    width: 0px;
}

.product_right button {
	text-align: center;
	cursor: pointer;
	background-color: #222222;
	font-weight: 600;
	padding: 15px 25px;
	text-transform: uppercase;
	font-size: 14px;
	box-shadow: 0 7px 50px 0 rgba(41,100,216,0.2);
	transition: all 0.2s;
	border-radius: 6px;
	color: white;
	border: none;
	min-width: 130px;
	height: 55px;
	overflow: hidden;
	margin-bottom: 24px;
}

.product_right button:hover {
	background-color: #2EA3F2;
}

.product_right input::selection {
	background-color: #ff3535;
}


.product_right_discription {
	word-wrap: break-word;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 24px;
    color: #222222;
}

.product_right_want {
	display: flex;
	gap: 15px;
	margin-bottom: 24px;
	align-items: center;
}

.product_right_want:hover {
	cursor: pointer;
}

.product_right_want_text {
	font-weight: 600;
	color: black;
	text-decoration: underline;
}

.product_right_want_heart:before {
	font-family: tinvwl-webfont;
  	content: "\e909";	/*908-заполненное сердце*/
  	display: inline-block;
  	font-weight: 400;
  	color: #FF0035;
  	font-size: 25px;
}

.product_img-mini {
	padding: 25px 204px;
	display: grid;
	grid-template-columns: repeat(4, auto);
	gap: 30px;
	justify-content: start;
}

.product_img-mini img {
	width: 100px;
	height: 100px;
}

.product_img-mini img:hover {
	cursor: pointer;
}

.product_feedback {
	padding: 40px 204px;
	text-align: center;
}

.product_feedback hr {
	margin-bottom: 24px;
}

.product_feedback_count {
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 24px;
}

.product_feedback_head {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 40px;
	text-align: left;
}

.product_feedback_none_1 {
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 14px;
	text-align: left;
}

.product_feedback_none_2 {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 18px;
	text-align: left;
}

.product_feedback_stars {
	text-align: left;
}

.product_feedback_stars a {
	position: relative;
	display: inline-block;
	text-indent: -999em;
	height: 1em;
	width: 1em;
	margin-bottom: 24px;
}

.product_feedback_star::before, .product_feedback_star_user::before {
	font-family: WooCommerce;
	content: "\e021"; /*\e021*/
	color: #fcd800;
	position: absolute;
	display: block;
	text-indent: 0;
}

.product_feedback_star_user:hover {
	cursor: default;
}

.product_feedback_star.hover::before {
	content: "\e020";
}

.product_feedback_plus {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: start;
	gap: 20px;
}

.product_feedback_plus img {
	border-radius: 100%;
	border: 2px solid black;
}

.product_feedback_username {
	text-align: left;
	font-weight: 600;
	font-size: 24px;
	margin-bottom: 10px;
}

.product_feedback_rating {
	text-align: left;
	margin-bottom: 10px;
}

.product_feedback_feedback {
	text-align: left;
	font-size: 18px;
	margin-bottom: 24px;
}

.product_feedback textarea {
	min-width: 100%;
	font-size: 14px;
	border: 1px solid #bbb;
	color: #757575;
	padding: 16px;
	border-radius: 6px;
	margin-bottom: 10px;
}

.product_feedback textarea::selection {
	background-color: #ff3535;
	color: white;
}

.product_feedback_error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    text-align: left;
    margin-bottom: 5px;
}

.product_feedback button {
	color: #222222;
	font-size: 14px;
	font-weight: 600;
	background-color: #ffffff;
	padding: 9px 25px;
	border-radius: 6px;
	border: 2px solid #ffffff;
	box-shadow: 0 7px 50px 0 rgba(41,100,216,0.2);
}

.product_feedback button:hover {
	cursor: pointer;
}

/*Конец блока product*/

/* Блок картинки */
.rotate-block {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  /* Изображение */
  .change-img {
	width: 300px;
	height: 300px;
	position: relative;
	perspective: 1000px;
  }
  .change-img:hover .front-side-img {
	transform: rotateY(180deg);
  }
.change-img:hover .back-side-img {
  transform: rotateY(360deg);
  opacity: 0;
  }
  /* Стороны изображения */
  .front-side-img, .back-side-img {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s, opacity 0.5s;
  back-side-imgface-visibility: hidden;
   }
  .front-side-img img {
	max-width: 100%;
	min-width: 100%;
	height: auto;
  }
  .back-side-img img {
	max-width: 100%;
	min-width: 100%;
	height: auto;
	transform: scaleX(-1);/* Отражаем изображение по горизонтали */
  }
  .back-side-img {
	transform: rotateY(180deg);
  }

  /*Анимация текста */

  .gain-center{
	transition: 1s; /* Время эффекта */
	text-align: center; 
  }
  .gain-center:hover {
	transform: scale(1.2); /* Увеличиваем масштаб */
  }

  .gain-center_about{
	transition: 1s; /* Время эффекта */
	text-align: right; 
  }
  .gain-center_about:hover {
	transform: scale(1.2); /* Увеличиваем масштаб */
  }

  /* Общие стили */
*, *:after, *:before { 
	border-box; 
	box-sizing: border-box; 
}
.clearfix:before, .clearfix:after { 
	content: ''; 
	display: table; 
}
.clearfix:after { 
	clear: both; 
}
.hover-text-one {
	overflow: hidden;
	margin: 0;
	width: 100%;
	list-style: none;
	text-align: center;
}
.hover-text-one figure {
	position: relative;
	z-index: 1;
	display: inline-block;
	overflow: hidden;
	background: #141718;
	text-align: center;
	cursor: pointer;
}
.hover-text-one figure img {
	position: relative;
	display: block;
	min-height: 100%;
	opacity: 0.8;
}
.hover-text-one figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.hover-text-one figure figcaption::before,
.hover-text-one figure figcaption::after {
	pointer-events: none;
}
.hover-text-one figure figcaption{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.hover-text-one figure h3 {
	word-spacing: -0.15em;
	font-weight: 600;
}
.hover-text-one figure h3 span {
	font-weight: 800;
}
.hover-text-one figure h3,
.hover-text-one figure p {
	margin-top: 25px;
}
.hover-text-one figure p {
	letter-spacing: 1px;
	font-size: 80%;
	font-weight: 400;
	color: #000000;
}

/* Эффект при наведении */
figure.effect-text-three {
	background: #789294;
}
figure.effect-text-three img {
	width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	transform: scale(1.1);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
figure.effect-text-three:hover img {
	opacity: 0.4;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
figure.effect-text-three figcaption {
	text-align: left;
}
figure.effect-text-three h3 {
	position: relative;
	overflow: hidden;
	padding: 0.5em 0;
}
figure.effect-text-three h3::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}
figure.effect-text-three:hover h3::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
figure.effect-text-three p {
	padding: 1em 0;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}
figure.effect-text-three:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-text-three a {
    display: block;
    text-decoration: none;
	text-align: center;
	margin-left: 20px ;
    padding: 20px;
    color: bisque;
    background: rgba(70, 70, 70, 100);
    border-radius: 5px;
    margin: 0 auto;
    transition: all 0.4s ease-in-out;
	padding: 1em 0;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}
figure.effect-text-three:hover a {
    background: #454545;
    color: bisque;
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}