* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black;
}

/*Начало блока хедер*/
nav {
	background-color: #222629;
	padding: 20px;
	gap: 10px;
	align-items: center;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
}

.navbar_links ul {
	list-style-type: none;
}

.navbar_links ul {
	justify-items: center;
	align-items: center;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}

.navbar_links a {
	padding: 10px;
	color: white;
	font-size: 23px;
}

.navbar_icons {
	margin-right: 40px;
	display: flex;
	gap: 20px;
	justify-content: flex-end;
	/*grid-template-columns: repeat(3, 1fr);*/
}

.navbar_logo {
	text-align: center;
}

.sub_nav {
	display: grid;
	padding: 20px;
	align-items: center;
	grid-template-columns: repeat(2, 1fr);
}

.sub_nav_rigth img {
	width: 40px;
}

.sub_nav_rigth {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 10px;
}
/*Конец блока хедер*/
.photoabout {
    position: relative;
}
#photoabout_1 {
    height: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/static/assets/mainabout.jpg);
}

.abouttext {
    line-height: 1.5;
    letter-spacing: 2px;
    padding: 60px;
    height: 100%;
    display: flex;
    align-items: center;
    text-shadow: 2px 2px 4px rgba(70, 69, 69, 0.178);
    font-size: 16px;
    text-align: justify;
    text-transform: uppercase;
    font-weight: 750;
    color: whitesmoke;
    position: absolute;
    top: 0px;
    left: 0px;
}
footer {
	background-color: #222629;
	padding: 20px;
	gap: 10px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 2fr 1fr);
	grid-column-gap: 40px;
	grid-row-gap: 40px;
	}

.fotofooter {
	padding: 10px;
	border: 1px;
}

.fotofooter {
	padding: 10px;
	border: 1px;
}

.fotofooter {
	padding: 10px;
	border: 1px;
}