{% extends "base.html" %}
{% block title %}
{% endblock %}
{% block content %}

<div class="content">
	<div class="hover-text-one">
		<figure class="effect-text-three">
		  <img src="/static/assets/about/about2.jpg" alt=""/>
			<figcaption>
				<h3 style="font-size: 150px; color: rgb(73, 67, 59);">БЛОГ</h3>
				<p style="font-size: 70px; color: rgb(73, 67, 59);">Тут вы можете увидеть какие то интересные новости</p>
		</figure>
	</div>
	<div class="blog3">
		<div class="hover-text-one">
			<figure class="effect-text-three" style="display: flex; justify-content: center;">
				<img style="border-radius: 100px; width: 96.5%;" src="/static/assets/blog/blog1.jpg" alt=""/>
				<figcaption>
					<h3 style="color: bisque;">Название статьи</h3>
					<p style="color: bisque;">Текст для статьи</p>
					<a href="product1" >ССЫЛКА</a>
			</figure>
		</div>
		<div class="hover-text-one">
			<figure class="effect-text-three" style="display: flex; justify-content: center;">
				<img style="border-radius: 100px; width: 96.5%;" src="/static/assets/blog/blog2.jpg" alt=""/>
				<figcaption>
					<h3 style="color: bisque;">Название статьи</h3>
					<p style="color: bisque;">Текст для статьи</p>
					<a href="product1" >ССЫЛКА</a>
			</figure>
		</div>
		<div class="hover-text-one">
			<figure class="effect-text-three" style="display: flex; justify-content: center;">
				<img style="border-radius: 100px; width: 96.5%;" src="/static/assets/blog/blog3.png" alt=""/>
				<figcaption>
					<h3 style="color: bisque;">Название статьи</h3>
					<p style="color: bisque;">Текст для статьи</p>
					<a href="product1" >ССЫЛКА</a>
			</figure>
		</div>
		<div class="hover-text-one">
			<figure class="effect-text-three" style="display: flex; justify-content: center;">
			  	<img style="border-radius: 100px; width: 96.5%;" src="/static/assets/blog/blog4.jpg" alt=""/>
				<figcaption>
					<h3 style="color: bisque;">Название статьи</h3>
					<p style="color: bisque;">Текст для статьи</p>
					<a href="product1" >ССЫЛКА</a>
			</figure>
		</div>
	</div>
</div>
{% endblock %}