{% extends "base.html" %}
{% block title %}
{% endblock %}
{% block content %}


<div class="blog1">
	<div class="blog1_left">
		БЛОГ
	</div>
	<div class="blog1_right">
		<input type="email" name="subscribe" placeholder="E-mail">
		<button><img src="/static/assets/blog/subscribe.svg">Подписаться</button>
	</div>
</div>
<div class="content">
	<div class="blog2">
		<div class="blog2_header">
			<div class="blog2_header_left">
				<date><img src="/static/assets/blog/calendar.svg">01.01.2024</date>
			</div>
			<div class="blog2_header_right">
				НАЗВАНИЕ СТАТЬИ
			</div>
		</div>
		<div class="blog2_under">
			<div class="blog2_under_img"></div>
			<div class="blog2_under_text">Краткое описание статьи</div>
		</div>
	</div>
	<div class="blog3">
		<article class="blog3_aricle">
			<div class="blog3_aricle_date">
				<date style="margin-bottom: 20px;"><img src="/static/assets/blog/calendar.svg">01.01.2024</date>
			</div>
			<div style="margin-bottom: 20px;" class="blog3_aricle_img"></div>
			<div class="blog3_aricle_text" style="margin-bottom: 20px;">Краткое описание статьи</div>
		</article>
		<article class="blog3_aricle">
			<div class="blog3_aricle_date">
				<date style="margin-bottom: 20px;"><img src="/static/assets/blog/calendar.svg">01.01.2024</date>
			</div>
			<div style="margin-bottom: 20px;" class="blog3_aricle_img"></div>
			<div class="blog3_aricle_text" style="margin-bottom: 20px;">Краткое описание статьи</div>
		</article>
		<article class="blog3_aricle">
			<div class="blog3_aricle_date">
				<date style="margin-bottom: 20px;"><img src="/static/assets/blog/calendar.svg">01.01.2024</date>
			</div>
			<div style="margin-bottom: 20px;" class="blog3_aricle_img"></div>
			<div class="blog3_aricle_text" style="margin-bottom: 20px;">Краткое описание статьи</div>
		</article>
	</div>
</div>
{% endblock %}