{% extends "base.html" %}
{% block title %}
{% endblock %}
{% block content %}

<div class="contact1">
	<div class="contact1_up">
		Связь с нами
	</div>
	<div class="contact2_up">
		<div style="position:relative;overflow:hidden"><a href="https://yandex.ru/maps/213/moscow/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Москва</a><a href="https://yandex.ru/maps/213/moscow/geo/ulitsa_rechnikov/10050681/?ll=37.690668%2C55.681062&utm_medium=mapframe&utm_source=maps&z=16.18" style="color:#eee;font-size:12px;position:absolute;top:14px;">Улица Речников — Яндекс Карты</a><iframe src="https://yandex.ru/map-widget/v1/?ll=37.690668%2C55.681062&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DIgoNk8MWQhUruV5C&z=16.18" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative; width: 100%; border: none;"></iframe></div>
	</div>
</div>
<div class="contact2">
	<div class="contact2_left">
		<div class="contact2_1">Контактная информация</div>
		<div class="contact2_2">У вас есть вопросы или вы просто хотите поздороваться?<br>Мы хотели бы услышать от вас.</div>
		<div class="contact2_3"><strong>Адрес</strong></div>
		<div class="contact2_4">ул. Речников, 115, Москва, Россия</div>
		<div class="contact2_5"><strong>Телефон</strong></div>
		<div class="contact2_6">(888) 999-1234</div>
		<div class="contact2_7"><strong>Почта</strong></div>
		<div class="contact2_8">sayhello@punio.com</div>
	</div>
	<form class="contact2_right">
		<input type="text" name="" required placeholder="Имя">
		<input type="text" name="" required placeholder="Тема">
		<input type="email" name="" required placeholder="Адрес электронной почты">
		<textarea required placeholder="Сообщение"></textarea>
	</form>
</div>

{% endblock %}