<!doctype html>

{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title|title }}</title>

    {% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}
</head>
<body>

{% block navbar %}
<nav>
    <div class="navbar_logo">
        <img src="/static/assets/catalog/amd/logo.png">
    </div>
    <div class="navbar_links">
        <ul>
            <li><a href="/">ГЛАВНАЯ</a></li>
            <li><a href="/about">О НАС</a></li>
            <li><a href="/blog">БЛОГ</a></li>
            <li><a href="/catalog">КАТАЛОГ</a></li>
            <li><a href="/contact">КОНТАКТЫ</a></li>
            <li><a href="/howto">КАК СДЕЛАТЬ</a></li>
        </ul>
    </div>
    <div class="navbar_icons">
        <img src="/static/assets/navbar/search.svg">
        <a href="/my_accaunt"><img src="/static/assets/navbar/accaunt.svg"></a>
        <img src="/static/assets/navbar/shop.svg">
    </div>
</nav>



{% endblock %}

{% block content %}
{% endblock %}

{% block js %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}

{% block footer %}

<div class="shop" id="shop" onclick="show_close_shop()">
    <span class="count_want">0</span>
    <span class="xoo-wsc-icon-basket1"></span><!-- корзина -->
</div>

<div class="dark_back" id="dark_back" onclick="close_shop()"></div>
<div class="shop_cont shop_slide_out" id="shop_cont">
    <div class="full_shop shop_slide_out" id="full_shop">
        <div class="full_shop_header">
            <div class="full_shop_header_top">
                <span class="xoo-wsc-icon-bag2"></span>
                <span class="full_shop_header_top_text">Ваша корзина</span>
            </div>
        </div>
        <div class="full_shop_center">
            <div class="full_shop_center_empty">
                <span>Ваша корзина пустая</span>
                <button>В магазин</button>
            </div>
        </div>
        <div class="full_shop_down">
            <button>ПРОДОЛЖИТЬ ПОКУПКИ</button>
        </div>
    </div>
</div>

<footer>
    <div class="footer">
        <div class="aboutus">
            <img src="/static/assets/logo-minisforum.png" alt="">
            <div class="footer_text_aboutus">
                Команда Minisforum имеет по-настоящему богатую историю развития и огромный опыт в сфере разработки качественных Мини-ПК. И бесперерывно продолжает развиваться, радуя своих клиентов планшетами, ноутбуками и клавиатурами.
            </div>
            <div class="link">
                <a href="" ><img src="/static/assets/footer/inst.svg" alt=""></a>
                <a href="" ><img src="/static/assets/footer/inst.svg" alt=""></a>
                <a href="" ><img src="/static/assets/footer/inst.svg" alt=""></a>
            </div>
        </div>
        <div class="footer_client">
            <ul>
                <b>Клиенту</b>
                <li><a href="/">Магазин</a></li>
                <li><a href="/my_accaunt">Аккаунт</a></li>
                <li><a href="/blog">История заказов</a></li>
            </ul>
        </div>
        <div class="footer_about">
            <ul>
                <b>Информация</b>
                <li><a href="/">О нас</a></li>
                <li><a href="/about">Контакты</a></li>
                <li><a href="/blog">Политика конфиденциальности</a></li>
                <li><a href="/blog">Пользовательское соглашение</a></li>
            </ul>
        </div>
        <div class="Support">
            <ul>
                <b>Как мы можем вам помочь?</b>
                <li>+7-(916)-555-55-36</li>
                <li>09:00 - 20:00</li>
                <li>minisforumrussia@gmail.com</li>
                <li>Адрес: г. Москва, Россия</li>
            </ul>
        </div>
    </div>

</footer>
{% endblock %}
</body>
</html>