<!doctype html>

{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title|title }}</title>

    {% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}
</head>
<body>

{% block navbar %}
<nav>
    <div class="navbar_logo">
        <img src="/static/assets/logo.png">
    </div>
    <div class="navbar_links">
        <ul>
            <li><a href="">Главная</a></li>
            <li><a href="">О нас</a></li>
            <li><a href="">Блог</a></li>
            <li><a href="">Каталог</a></li>
            <li><a href="">Контакты</a></li>
            <li><a href="">Как сделать</a></li>
        </ul>
    </div>

    
</nav>

<div class="sub_nav">
        <div class="sub_nav_left">
            MINISFORUM RUSSIA (нужен красивый шрифт)
        </div>
        <div class="sub_nav_rigth">
            <img src="/static/assets/search.svg">
            <img src="/static/assets/account.svg">
            <img src="/static/assets/shop.svg">
        </div>
    </div>
{% endblock %}

{% block content %}
{% endblock %}

{% block js %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}

{% block footer %}
<footer>
    <div class="footer">
        <div class="fotofooter">
            <p>Фотография и текст вместо этого</p>
        </div>
        <div class="div2">
            <ul>
                <li>О нас</li>
                <li>Контакты</li>
                <li>Поддержка</li>
                <li>Что то</li>
                <li>Что то</li>
            </ul>
        </div>
        <div class="div3">
            <ul>
                <li>Поддержка</li>
                <li>Политика безопасности</li>
                <li>Контакты</li>
                <li>Что то</li>
                <li>Что то</li>
            </ul>
        </div>
        <div class="div4">
            <p>Здесь должны быть ссылки на соц сети и медиа</p>
        </div>
    </div>
</footer>
{% endblock %}
</body>
</html>