<!doctype html>

{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title|title }}</title>

    {% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}
</head>
<body>

{% block navbar %}
<nav>
    <div class="navbar_logo">
        <img src="/static/assets/logo.png">
    </div>
    <div class="navbar_links">
        <ul>
            <li><a href="/">ГЛАВНАЯ</a></li>
            <li><a href="/about">О НАС</a></li>
            <li><a href="/blog">БЛОГ</a></li>
            <li><a href="/catalog">КАТАЛОГ</a></li>
            <li><a href="/contact">КОНТАКТЫ</a></li>
            <li><a href="/howto">КАК СДЕЛАТЬ</a></li>
        </ul>
    </div>
    <div class="navbar_icons">
        <img src="/static/assets/navbar/search.svg">
        <img src="/static/assets/navbar/accaunt.svg">
        <img src="/static/assets/navbar/shop.svg">
    </div>
</nav>



{% endblock %}

{% block content %}
{% endblock %}

{% block js %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}

{% block footer %}

<footer>
    <div class="footer">
        <div class="fotofooter">
            <p>Фотография и текст вместо этого</p>
        </div>
        <div class="aboutUS">
            <ul>
                <li>О нас</li>
                <li>Контакты</li>
                <li>Поддержка</li>
                <li>Что то</li>
                <li>Что то</li>
            </ul>
        </div>
        <div class="Support">
            <ul>
                <li>Поддержка</li>
                <li>Политика безопасности</li>
                <li>Контакты</li>
                <li>Что то</li>
                <li>Что то</li>
            </ul>
        </div>
        <div class="social">
            <p>Здесь должны быть ссылки на соц сети и медиа</p>
        </div>
    </div>

</footer>
{% endblock %}
</body>
</html>