{% extends "base.html" %}
{% block title %}
{% endblock %}
{% block content %}

<div class="about1">
    <div class="about1_text">
        MINISFORUM RUSSIA<br>
        О НАС
    </div>
</div>
<div class="content">
    <div class="about_text">
        Мы — полностью удаленное агентство, специализирующееся на создании цифровых технологий, которые приносят радость вашим клиентам. Наша особая сила — внимательно прислушиваться к вашим потребностям и превращать сложные проблемы в продуманные решения.
    </div>
    <div class="about_text_1">Наша цель</div>
    <div class="about_text_2">Наши возможности</div>
    <div class="about_text_3">Наши достижения</div>
</div>


{% endblock %}