{% extends "base.html" %}
{% block title %}
{% endblock %}
{% block content %}

<div class="photoabout">
    <p class="abouttext">Minisforum - ведущая технологическая компания, специализирующаяся на компактных и высокопроизводительных решениях для мини-ПК. Вся команда стремимся предоставлять клиентам передовые технологии в компактном форм-факторе без ущерба для мощности или производительности.
    Команда опытных инженеров и дизайнеров неустанно работает над созданием инновационных продуктов, отвечающих потребностям современных потребителей. Minisforum предлагает широкий ассортимент мини-ПК на любой вкус - от мощных игровых приставок до компактных настольных рабочих станций.
    Мы уверены, что технологии должны быть доступны и удобны для всех. Именно поэтому команда Minisforum фокусируется на создании компактных, энергоэффективных устройств, которые просты в использовании и обслуживании.    
    Компания Minisforum, ориентированная на качество и удовлетворение потребностей клиентов, является идеальным выбором для тех, кто ищет высокопроизводительные компьютеры в компактном корпусе. Присоединяйтесь к нам в нашем стремлении совершить революцию в мире мини-ПК и внедрить передовые технологии прямо на свой рабочий стол.
    Команда Minisforum в России сделает всевозможное, чтобы обеспечить доступность любого вида товара для каждого нашего единомышленника! Мы готовы принимать отзывы, вникать в потребности наших заказчиков, консультировать, предлагать свое видение для любой архитектуры, неустанно помогать решать вам сложные технические задачи.</p>
    <div id="photoabout_1"></div>
</div>

{% endblock %}