{% extends "base.html" %}
{% block title %}
{% endblock %}
{% block content %}

<div class="about1">
    <div class="about1_text">
        <div class="gain-center_about">
            MINISFORUM RUSSIA<br>
            О НАС
        </div>
    </div>
</div>
<div class="hover-text-one">
    <figure class="effect-text-three">
      <img src="/static/assets/about/about2.jpg" alt=""/>
        <figcaption>
            <h3>Идея</h3>
            <p>Текст для раздела о нас</p>
            <h3>Lorem ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <h3>Lorem ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <h3>Lorem ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <h3>Lorem ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </figcaption>			
    </figure>
</div>

{% endblock %}